<table class="green" style="width: 100%; border: 1px; padding: 1em; vertical-align: middle;"><caption><strong>Table 3: Commands for ebuild</strong></caption>
  <tbody>
    <tr class="green">
      <td class="title">Command</td>
      <td class="title">Meaning</td>
      <td class="title">Example(s)</td>
    </tr>
    <tr class="green">
      <td class="green"><code>clean</code></td>
      <td class="green">Cleans the temporary build directory for this ebuild.</td>
      <td class="green">{% include coder.html line1="ebuild atom-1.3.1.ebuild clean" %}</td>
    </tr>
    <tr class="green">
      <td class="green"><code>compile</code></td>
      <td class="green">Compiles the extracted sources by running the <code>src_compile()</code> function specified in the ebuild file.</td>
      <td class="green"></td>
    </tr>
  </tbody>
</table>
