<!-- Inputs: bf, cmb, doc, sup, pm, sru, sb, oa-->
<h2>Ratings</h2>
<ul>
  <li><b>Beginner-friendliness</b>: {{ include.bf }}{{ include.BF }}{{ include.beginner-friendliness }}</li>
  <li><b>Customizability</b>: {{ include.customizability }}{{ include.custom }}{{ include.cmb }}{{ include.CMB }}</li>
  <li><b>Documentation</b>: {{ include.doc }}{{ include.DOC }}{{ include.documentation }}{{ include.docqual }}</li>
  <li><b>Free support</b>: {{ include.support }}{{ include.sup }}{{ include.SUP }}</li>
  <li><b>Package management</b>: {{ include.pm }}{{ include.PM }}</li>
  <li><b>Performance/<abbr title="System Resource Usage">SRU</abbr></b>: {{ include.sru }}{{ include.SRU }}{{ include.performance }}</li>
  <li><b>Stability</b>: {{ include.stability }}{{ include.sb }}</li>
  <li><b>Overall</b>: {{ include.overall }}{{ include.oa }}</li>
</ul>
