<!--
cpu
hdd
ims
ram
-->
<h4>Requirements</h4>
<ul>
  <li><abbr title="Central Processing Unit"><b>CPU</b></abbr>: {{ include.CPU }}{{ include.cpu }}.</li>
  <li><abbr title="Minimum Hard Disk Drive (HDD) space required to install this system"><b>HDD</b></abbr>: {{ include.HDD }}{{ include.hdd }}.</li>
  <li><abbr title="Minimum Installation Medium Size (IMS) for the latest release of this system"><b>IMS</b></abbr>: {{ include.IMS }}{{ include.ims }}</li>
  <li><abbr title="Minimum Random Access Memory (RAM) required to use this system"><b>RAM</b></abbr>: {{ include.ram }}{{ include.RAM }}</li>
</ul>
