<div class = "image-box" style = "width:{{ include.width }}">
  <table class="image">
      {% if include.id %}
        <caption align="bottom">Figure {{ include.id }}: {{ include.description }}</caption>
      {% else %}
        <caption align="bottom">{{ include.description }}</caption>
      {% endif %}
      <tr>
        <td><img src="{% if include.url %}{{ include.url }}{% else %}/images/{{ include.image }}{% endif %}" alt="{{ include.description }}" style = "width:{{ include.width }}"/></td>
      </tr>
  </table>
</div>
<br/>
