<div class="note">

<b>NOTE:</b>
<ul>
	<li><em>{{ include.note1 }}</em></li>
  {% if include.note2 %}
  <li><em>{{ include.note2 }}</em></li>
  {% if include.note3 %}
  <li><em>{{ include.note3 }}</em></li>
  {% if include.note4 %}
  <li><em>{{ include.note4 }}</em></li>
  {% if include.note5 %}
  <li><em>{{ include.note5 }}</em></li>
  {% if include.note6 %}
  <li><em>{{ include.note6 }}</em></li>
  {% if include.note7 %}
  <li><em>{{ include.note7 }}</em></li>
  {% if include.note8 %}
  <li><em>{{ include.note8 }}</em></li>
  {% if include.note9 %}
  <li><em>{{ include.note9 }}</em></li>
  {% if include.note10 %}
  <li><em>{{ include.note10 }}</em></li>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
</ul>
</div>
<br/>
