<ul>
  <li><b>Architecture support</b>: {{ include.arch }}</li>
  <li><b>Default Unix shell</b>: {% if include.shell %}{{ include.shell }}{% else %}Bash{% endif %}</li>
  <li><b>Default user interface(s)</b>: {{ include.desktop }}{{ include.de }}{{ include.DE }}{{ include.ui }}{{ include.UI }}</li>
  {% if include.base %}<li><b>Derived from</b>: {{ include.base }}</li>{% endif %}
  <li><b>Foundation/Origin</b>: {{ include.foundation }}{{ include.fd }}{{ include.FD }}</li>
  <li><b>Installation method</b>: {{ include.installation }}{{ include.im }}{{ include.IM }}</li>
  <li><b>OS type</b>: {% if include.type %}{{ include.type }}{% else %}Linux{% endif %}</li>
  <li><b>Package manager(s)</b>: {{ include.pm }}{{ include.PM }}{{ include.PMS }}{{ include.pms }}</li>
  <li><b>Target market</b>: {{ include.tm }}{{ include.TM }}{{ include.market }}</li>
</ul>
