/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Figures
 */
figure > img {
    display: block;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */

div.code-box {
    background-color: #dddaec;
    color: white;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 18px;
}

div.code-box div.syntaxhighlighter {
    margin: 0 !important;
    width: 100% !important;
    border: 1px solid #cccccc !important;
    border-top: 0px !important;
    max-height: 350px;
    overflow-y: scroll;
}

.syntaxhighlighter .line .content {
    border-left: 0 !important;
}

div.code-box div.code-title {
    border: 1px solid #cccccc;
    background-color: #fafafa;
    color:#555;
    font-size:12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.code-box pre {
    clear: both;
    max-height: 350px !important;
    overflow-y: auto;
}

div.note {
  	padding: 1px;
    border: 2px solid #ffa0a0;
    background-color: #ffa0a0;
}

pre {
    border: 1px solid #cccccc !important;
    border-top: 0 !important;
    border-radius: 0 !important;
    background-color: #fff !important;
    margin: 0 !important;
}

code {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
    overflow: auto;
    font-family: Liberation Mono;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
Image-related styles
*/

table.image {
  padding: 0px;
  vertical-align: middle;
}

img {
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  padding: 2px;
  border: 1px solid #000;
  vertical-align: middle;
}

div.image-box {
  padding: 10px;
  border: 2px solid #0effff;
  background-color: #66ffff;
  border-radius: 8px;
  vertical-align: middle;
}

caption {
  background-color: #60ff60;
  padding: 2px;
  color: #000;
  text-align: left;
  font-weight: bold;
  font-family: sans-serif;
  border: 5px solid #30ff30;
  border-radius: 4px;
  vertical-align: middle;
}
