table.green, td.green, tr.green {
  border-collapse: collapse !important;
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  background-color: rgb(128, 255, 128);
}

td.title {
  border-collapse: collapse !important;
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  background-color: rgb(128, 255, 128);
  font-weight: bold;
}

td.title1 {
  border-collapse: collapse !important;
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  background-color: rgb(255, 128, 128);
  font-weight: bold;
}

div.title {
  font-size: 24px;
  font-weight: bold;
  padding: 4px;
}
