table, td, tr {
  border-collapse: collapse !important;
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  background-color: rgb(128, 255, 128);
}

td.title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

div.toc {
  border: 2px solid #000;
  padding: 8px;
  background-color: rgb(200,200,255);
  width: 35%;
}

div.title {
  font-size: 24px;
  font-weight: bold;
  padding: 4px;
}
