/**
 * Code formatting
 */

div.code-box {
    background-color: #dddaec;
    color: white;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 18px;
}

div.code-box div.syntaxhighlighter {
    margin: 0 !important;
    width: 100% !important;
    border: 1px solid #cccccc !important;
    border-top: 0px !important;
    max-height: 350px;
    overflow-y: scroll;
}

.syntaxhighlighter .line .content {
    border-left: 0 !important;
}

div.code-box div.code-title {
    border: 1px solid #cccccc;
    background-color: #fafafa;
    color:#555;
    font-size:12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.code-box pre {
    clear: both;
    max-height: 350px !important;
    overflow-y: auto;
}

div.note {
  	padding: 1px;
    border: 2px solid #ffa0a0;
    background-color: #ffa0a0;
}

pre {
    border: 1px solid #cccccc !important;
    border-top: 0 !important;
    border-radius: 0 !important;
    background-color: #000;
    margin: 0 !important;
}

code {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
    overflow: auto;
    font-family: Liberation Mono;
}
