## Glossary
* **&#42;nix**
** Unix/Unix-like operating system.
</ul></li>
<li><b>BE</b>

<ul>
<li><b>B</b>leeding <b>e</b>dge: means has the very latest software.</li>
</ul></li>
<li><b>BSD</b>

<ul>
<li><b>B</b>erkeley <b>S</b>oftware <b>D</b>istribution.</li>
</ul></li>
<li><b>BSDs</b>

<ul>
<li><b>B</b>erkeley <b>S</b>oftware <b>D</b>istribution derivative<b>s</b>.</li>
</ul></li>
<li><b>CLI</b>

<ul>
<li><b>C</b>ommand-<b>l</b>ine <b>i</b>nterface. Also known as terminal, a way of interacting with one&#39;s OS by issuing a series of textual commands.</li>
</ul></li>
<li><b>CLIs</b>

<ul>
<li><b>C</b>ommand-<b>l</b>ine <b>i</b>nterface<b>s</b>.</li>
</ul></li>
<li><b>FOSS</b>

<ul>
<li><b>F</b>ree and <b>o</b>pen-<b>s</b>ource <b>s</b>oftware.</li>
</ul></li>
<li><b>GUI</b>

<ul>
<li><b>G</b>raphical <b>u</b>ser <b>i</b>nterface.</li>
</ul></li>
<li><b>GUIs</b>

<ul>
<li><b>G</b>raphical <b>u</b>ser <b>i</b>nterface<b>s</b>.</li>
</ul></li>
<li><b>LD</b>

<ul>
<li><b>L</b>inux <b>d</b>istribution.</li>
</ul></li>
<li><b>LDs</b>

<ul>
<li><b>L</b>inux <b>d</b>istribution<b>s</b>.</li>
</ul></li>
<li><b>LTS</b>

<ul>
<li><b>L</b>ong-<b>t</b>erm <b>s</b>table/<b>s</b>upport.</li>
</ul></li>
<li><b>NET</b>

<ul>
<li>Usually refers to netinstall editions. These are OS editions that contain the barebones required to install an OS using one's network (or internet) connection.</li>
</ul></li>
<li><b>OS</b>

<ul>
<li><b>O</b>perating <b>s</b>ystem.</li>
</ul></li>
<li><b>OSs</b>

<ul>
<li><b>O</b>perating <b>s</b>ystem<b>s</b>.</li>
</ul></li>
<li><b>Out-of-the-box</b>

<ul>
<li>The property of an operating system of being <q>out-of-the-box</q> means that as soon as the default installer (if any) has done its job and installed the system, the system should be ready to be used by the user without any further configuration or installation of software onto the system.</li>
</ul></li>
<li><b>PMS</b>

<ul>
<li><b>P</b>ackage <b>m</b>agement <b>s</b>ystem.</li>
</ul></li>
<li><b>PMSs</b>

<ul>
<li><b>P</b>ackage <b>m</b>agement <b>s</b>ystem<b>s</b>.</li>
</ul></li>
<li><b>RRM</b>

<ul>
<li><b>R</b>olling <b>r</b>elease <b>m</b>odel. A type of operating system development model in which the system is continually developing, this is as opposed to standard release models (SRMs) which uses distinct OS versions that must be reinstalled over the previous version.</li>
</ul></li>
<li><b>VM</b>

<ul>
<li><b>V</b>irtual <b>m</b>achine. Host operating systems run within virtualization software such as VirtualBox.</li>
</ul></li>
<li><b>VMs</b>

<ul>
<li><b>V</b>irtual <b>m</b>achine<b>s</b>.</li>
</ul></li>
</ul>
