<!-- Possible inputs
arch -- supported architectures
origin -- country of origin
date -- date of establishment
shell -- default Unix shell
ui -- default user interface(s)
base -- distro it was derived from
im -- installation method
type -- type of system
pm -- package management
rm -- release model
tm -- target
-->
<h3>Specifications</h3>
<ul>
  <li><b>Architecture support</b>: {{ include.arch }}{{ include.ARCH }}{{ include.architecture }}</li>
  <li><b>Country of origin</b>: {{ include.country }}{{ include.origin }}</li>
  <li><b>Date of establishment</b>: {{ include.date }}{{ include.DATE }}</li>
  <li><b>Default Unix shell</b>: {% if include.shell %}{{ include.shell }}{% elsif include.SHELL %}{{ include.SHELL }}{% else %}Bash.{% endif %}</li>
  <li><b>Default user interface(s)</b>: {{ include.desktop }}{{ include.de }}{{ include.DE }}{{ include.ui }}{{ include.UI }}</li>
  {% if include.base %}<li><b>Derived from</b>: {{ include.base }}</li>{% endif %}
  <li><b>Installation method</b>: {{ include.installation }}{{ include.im }}{{ include.IM }}</li>
  <li><b>OS type</b>: {% if include.type %}{{ include.type }}{% elsif include.TYPE %}{{ include.TYPE }}{% else %}Linux{% endif %}</li>
  <li><b>Package manager(s)</b>: {{ include.pm }}{{ include.PM }}{{ include.PMS }}{{ include.pms }}</li>
  <li><b>Release model(s)</b>: {{ include.rm }}{{ include.RM }}{{ include.model }}</li>
  <li><b>Target market</b>: {{ include.tm }}{{ include.TM }}{{ include.market }}</li>
</ul>
