<table style="width: 100%; border: 1px; padding: 1em; vertical-align: middle;">
  <caption>{{ site.data.proglang_comparison.caption | markdownify }}</caption>
  <tbody>
    <tr class="green">
      <td class="title1">Language</td>
      <td class="title1" style="width:40px;"><abbr title="File extension">Ext</abbr></td>
      <td class="title1">
        <abbr title="Abstraction level">Level</abbr>
      </td>
      <td class="title1">Paradigm(s)</td>
      <td class="title1">Purpose</td>
      <td class="title1">
        <abbr title="Freely licensed?">Free?</abbr>
      </td>
      <td class="title1">
        <abbr title="Scripting language?">Script?</abbr>
      </td>
      <td class="title1">Speed<sup>n1</sup></td>
      <td class="title1">Description</td>
    </tr>
    {% for row in site.data.proglang_comparison.body %}
    <tr class="green">
      <td class="title1"><a href="https://en.wikipedia.org/wiki/{% if row.WLang %}{{ row.WLang }}{% else %}{{ row.Lang }}{% endif %}" link="_blank">{{ row.Lang | markdownify }}</a></td>
      <td class="green">{% if row.ext %}{{ row.ext | markdownify }}{% elsif row.Ext %}{{ row.Ext | markdownify }}{% elsif row.extension %}{{ row.extension | markdownify }}{% elsif row.Extension %}{{ row.Extension | markdownify }}{% elsif row.extensions %}{{ row.extensions | markdownify }}{% endif %}</td>
      <td class="green">{{ row.Level | markdownify }}</td>
      <td class="green">{{ row.Paradigm | markdownify }}</td>
      <td class="green">{{ row.Purpose | markdownify }}</td>
      <td class="{{ row.Free }}">{{ row.Free }}</td>
      <td class="{{ row.Script }}">{{ row.Script }}</td>
      <td class="green">{{ row.Speed | markdownify }}</td>
      <td class="green">{{ row.Desc | markdownify }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="green">
      <td class="blue" colspan="9">
        <b>n1</b>: The speed rating is assigned by myself as essentially an average of the speed tests I have found by Googling
        "comparison of programming languages by performance". While this gives one an incling as to the speed of these programming languages
        it is worthwhile noting that the speed of a programming language greatly depends on what it is being used to do and in some cases
        how it is implemented can greatly impact upon its performance. 10 indicates that the language is amongst the fastest available,
        1 indicates that the language is essentially the slowest of languages.
        <br/>
        <b>*</b>: Indicates the programming language and its straight-forward derivatives.
        <br/>
        <b>Num.</b>: Numerical analysis.
      </td>
    </tr>
  </tfoot>
</table>
<br/>
