<!DOCTYPE html>
<html>

  <head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/my.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/sass/_blog.scss" rel="stylesheet">
  <link href="/sass/_base.scss" rel="stylesheet">
  <link href="/sass/_layout.scss" rel="stylesheet">
  <link href="/sass/_pygments.scss" rel="stylesheet">
  </head>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
