<!DOCTYPE html>
<html>

  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://raw.githubusercontent.com/fusion809/sabayon-gitsta/master/vendor/bootstrap/css/bootstrap.css">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/my.css" rel="stylesheet">
  </head>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
